
*{
    background: black;
}    


@font-face {
    font-family: 'star_jedi_hollowregular';
    src: url('starjhol-webfont.woff2') format('woff2'),
         url('starjhol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#splash {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
 }

 h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.button {
    background-color: #4CAF50;
    size: 16px;
}

 *{
    background-image: url("./../static/stars.png")   
    /* background-image: url({{ url_for('static', filename='stars.png) }}) */
} 