*{
    color:yellow;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}


@font-face, .splash {
    font-family: 'star_jedi_hollowregular';
    src: url('starjhol-webfont.woff2') format('woff2'),
         url('starjhol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.splash {
    font-size: 50px;
    text-align: center;
    z-index: 100;
 }

 body {
    background-image: url("./stars.png");
}
background-image {
    z-index: 1000;
    opacity: 0.4;
}


.big {
    z-index: 10;
    display: block;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
}

button {
    z-index:50;
    size: 36px;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
#lightside {
    float: left;
    border-color: #4CAF50;
    color: green;
    z-index:50;
    size: 36px;
  }
    #lightside:hover {
        background: green;
        color:whitesmoke
  }

  table {
      width:100%;
      padding: 35px;
      font-size: 24px;
  }

#enter {
    position: relative;
}

caption {
    color:red
    font-size: 20px;
}

#enter_dark {
    float: right;
}
#darkside {
    border-color: crimson;
    color: crimson;
    z-index:50;
    size: 36px;
  }
    #darkside:hover {
        background: crimson;
        color:whitesmoke
}
ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a:hover{
    font-weight: 600;
    color:limegreen
}


li a {
    display: block;
    color: yellow; 
    padding: 12px 12px;
    text-decoration: none;
}
.logo {
    width: 55px;
    height: 55px;
}
textarea {
    background-color: grey;    
}
#troll_button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}