*{
    color:yellow;
    font-family: 'Open Sans', sans-serif;
}


@font-face, .splash {
    font-family: 'star_jedi_hollowregular';
    src: url('starjhol-webfont.woff2') format('woff2'),
         url('starjhol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.splash {
    font-size: 50px;
    text-align: center;
    z-index: 100;
 }

 body {
    background-image: url("./stars.png");
}
background-image {
    z-index: 1000;
    opacity: 0.4;
}


.big {
    z-index: 10;
    display: block;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
}
.button {
    background-color: #4CAF50;
    size: 24px;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.success {
    border-color: #4CAF50;
    color: green;
  }
    .success:hover {
        background: crimson;
  }